/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.houses {
  &__item {
    flex-basis: 50%;
    margin-bottom: 60px;
  }
}

.travel {
  &__info {
    position: absolute;
    top: 10px;
    font-size: 200%;
    left: 45%;
  }

  &__inner {
    padding: 50px;
  }
  &__texts,
  &__img {
    flex-basis: 47%;
  }

  &__texts {
    display: flex;
    padding-top: 100;
  }
}
.com_info {
  top: -40px;
  left: 50%;
  right: 50%;
}
.pc{
  display: none;
}

.footer {
  & .logo {
    justify-content: flex-start;
  }

  &__li {
    margin-left: 0;
    margin-right: 30px;
  }
  &__right {
    position: absolute;
    top: auto;
    right: 60px;
    list-style: none;
  }
  &__map {
    position: absolute;
    top: 140px;
    width: 400px;
    height: 250px;
  }
}
