/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}
.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150px !important;
}

.travel {
  &__info {
    position: absolute;
    top: 10px;
    font-size: 200%;
    left: 45%;
  }

  &__img {
    height: 400px;
  }

  &__description {
    margin-bottom: 40px;
  }
  &__title {
    &::before {
      display: block;
    }
  }
}
.com_info {
  top: -150px;
  padding-bottom: 30px;
}
.pc{
  display: inline;
}
.footer {
  &__li {
    justify-content: flex-start;
  }
  &__right {
    position: absolute;
    top: auto;
    right: 60px;
    list-style: none;
  }
  &__map {
    position: absolute;
    top: auto;
    right: 150px;
    width: 400px;
    height: 250px;
  }
}

.header {
  &__nav {
    display: block;
  }
}

.mobile-menu {
  &__btn {
    display: none;
  }
}

.swiper-slide {
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}
